In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asmaa\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\asmaa\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\asmaa\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\asmaa\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asmaa\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
df= pd.read_csv('TAIPEI_diabetes.csv')

In [7]:
df.sample(50)

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
3650,1052575,2,103,54,40,57,26.919408,0.938809,47,1
8675,1455752,8,73,91,9,47,20.205838,0.110634,30,0
4936,1824445,0,97,56,10,141,21.966408,0.293503,23,0
14262,1366588,1,55,40,24,16,21.054510,0.595327,22,0
13847,1079122,0,96,52,18,173,31.136405,0.551292,25,0
11399,1154936,1,95,84,31,158,21.284398,2.201972,23,0
7491,1281747,1,80,94,34,212,18.210323,0.160360,23,0
13970,1579747,0,134,90,11,54,19.636811,0.558453,24,0
4867,1015338,1,76,48,44,37,21.280339,0.079090,22,0
6489,1502558,1,121,44,41,227,37.323629,0.120173,23,0
14320,1419082,0,54,55,23,45,32.957461,0.176843,21,0
12739,1560811,2,125,81,12,664,22.007432,0.141085,44,0
10935,1870664,3,141,55,50,219,36.808136,0.559611,53,1
12342,1322873,1,127,81,31,166,39.570307,0.158855,23,0
3208,1595157,0,88,56,16,71,40.015510,0.486480,23,0
1669,1377922,0,131,85,44,134,20.676288,0.155424,25,0
2411,1028044,2,102,91,23,284,34.143151,0.819089,67,1
6706,1978830,0,81,80,42,32,22.012341,0.670076,32,0
7620,1432202,0,133,83,24,45,18.295128,0.859344,49,0
6884,1966816,1,163,56,18,27,19.443669,0.280058,25,0
7857,1509448,3,106,82,45,163,38.362992,0.918765,47,1
2537,1815687,5,107,75,43,142,31.013446,0.532163,41,1
3049,1888956,1,79,50,54,126,35.392862,0.724464,56,0
1350,1460494,8,111,92,55,236,29.459602,0.439816,47,1
11181,1388428,0,115,64,33,54,41.629800,0.140742,21,0
3120,1920787,1,94,63,14,30,36.217698,0.120182,22,0
3421,1780445,1,140,24,35,29,19.947221,0.240578,21,0
6475,1814475,1,98,62,13,58,29.712845,0.087436,34,1
10680,1338104,0,81,64,7,125,42.867071,0.290949,22,0
13159,1123845,0,128,82,34,165,20.690502,0.573405,22,0
584,1128211,0,165,79,7,131,37.839791,0.236996,22,0
1552,1672817,4,109,79,40,201,46.121783,0.112405,44,1
3308,1789119,4,114,67,7,439,40.970246,0.650283,30,1
12361,1315548,0,110,83,22,391,40.275833,0.133776,21,0
11480,1742391,6,119,88,22,137,42.398080,0.861661,25,0
6106,1571934,0,58,60,7,162,20.069311,0.154139,25,0
8239,1197205,1,119,86,31,188,20.603400,0.252479,22,0
310,1056070,1,156,41,8,36,20.667451,0.262658,21,0
9705,1618442,6,146,79,32,247,19.120691,0.157359,22,0
2999,1882091,3,122,79,14,298,35.604566,1.558826,22,1
2166,1970602,1,172,65,11,69,21.186491,0.260442,23,0
9082,1775908,4,103,91,29,198,47.625843,0.163064,37,1
502,1037639,1,52,83,10,19,21.216556,0.099575,22,0
10514,1459750,1,93,102,11,86,21.059371,0.247045,26,0
14059,1457154,0,84,80,10,131,43.099772,0.087825,52,0
433,1113419,6,80,65,8,23,21.641972,0.087249,24,0
4897,1712523,8,68,81,8,68,20.099577,0.088560,22,0
3609,1819028,9,53,62,12,315,42.428228,0.184083,22,1
5082,1683143,4,112,81,28,523,38.882514,0.103558,22,1
12636,1183921,10,82,53,10,296,21.731801,0.263117,50,0

In [8]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PatientID               15000 non-null  int64
 1   Pregnancies             15000 non-null  int64
 2   PlasmaGlucose           15000 non-null  int64
 3   DiastolicBloodPressure  15000 non-null  int64
 4   TricepsThickness        15000 non-null  int64
 5   SerumInsulin            15000 non-null  int64
 6   BMI                     15000 non-null  float64
 7   DiabetesPedigree        15000 non-null  float64
 8   Age                     15000 non-null  int64
 9   Diabetic                15000 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 1.1 MB
None

In [9]:
print ( df.isnull().sum())

PatientID                 0
Pregnancies               0
PlasmaGlucose             0
DiastolicBloodPressure    0
TricepsThickness          0
SerumInsulin              0
BMI                       0
DiabetesPedigree          0
Age                       0
Diabetic                  0
dtype: int64

In [10]:
print (df.describe())

          PatientID   Pregnancies  PlasmaGlucose  DiastolicBloodPressure  \
count  1.500000e+04  15000.000000   15000.000000            15000.000000
mean   1.502922e+06      3.224533     107.856867               71.220667
std    2.892534e+05      3.391020      31.981975               16.758716
min    1.000038e+06      0.000000      44.000000               24.000000
25%    1.252866e+06      0.000000      84.000000               58.000000
50%    1.505508e+06      2.000000     104.000000               72.000000
75%    1.755205e+06      6.000000     129.000000               85.000000
max    1.999997e+06     14.000000     192.000000              117.000000

       TricepsThickness  SerumInsulin           BMI  DiabetesPedigree  \
count      15000.000000  15000.000000  15000.000000      15000.000000
mean          28.814000    137.852133     31.509646          0.398968
std           14.555716    133.068252      9.759000          0.377944
min            7.000000     14.000000     18.200512          0.078044
25%           15.000000     39.000000     21.259887          0.137743
50%           31.000000     83.000000     31.767940          0.200297
75%           41.000000    195.000000     39.259692          0.616285
max           93.000000    799.000000     56.034628          2.301594

                Age      Diabetic
count  15000.000000  15000.000000
mean      30.137733      0.333333
std       12.089703      0.471420
min       21.000000      0.000000
25%       22.000000      0.000000
50%       24.000000      0.000000
75%       35.000000      1.000000
max       77.000000      1.000000

In [12]:
df.duplicated().sum()

0

In [20]:
df=df[(df["DiastolicBloodPressure"]<30) | (df["DiastolicBloodPressure"]>=70)]

In [16]:
df=df[df["PlasmaGlucose"]>=70]

In [21]:
df=df[(df["SerumInsulin"]<150) | (df["SerumInsulin"]>20)]

In [22]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7036 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PatientID               7036 non-null   int64
 1   Pregnancies             7036 non-null   int64
 2   PlasmaGlucose           7036 non-null   int64
 3   DiastolicBloodPressure  7036 non-null   int64
 4   TricepsThickness        7036 non-null   int64
 5   SerumInsulin            7036 non-null   int64
 6   BMI                     7036 non-null   float64
 7   DiabetesPedigree        7036 non-null   float64
 8   Age                     7036 non-null   int64
 9   Diabetic                7036 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 604.7 KB
None